<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efun.game.user.dao.UserSignInLogMapper">
  <resultMap id="BaseResultMap" type="com.efun.game.user.entity.UserSignInLog">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="session_id" jdbcType="BIGINT" property="sessionId" />
    <result column="sign_in_ip" jdbcType="VARCHAR" property="signInIp" />
    <result column="sign_in_status" jdbcType="TINYINT" property="signInStatus" />
    <result column="sign_in_fail_code" jdbcType="BIGINT" property="signInFailCode" />
    <result column="sign_in_fail_reason" jdbcType="VARCHAR" property="signInFailReason" />
    <result column="sign_in_app_type" jdbcType="TINYINT" property="signInAppType" />
    <result column="sign_in_time" jdbcType="TIMESTAMP" property="signInTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, session_id, sign_in_ip, sign_in_status, sign_in_fail_code, sign_in_fail_reason, 
    sign_in_app_type, sign_in_time, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_user_sign_in_log
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_user_sign_in_log
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.efun.game.user.entity.UserSignInLog">
    insert into t_user_sign_in_log (id, uid, session_id, 
      sign_in_ip, sign_in_status, sign_in_fail_code, 
      sign_in_fail_reason, sign_in_app_type, sign_in_time, 
      create_time)
    values (#{id,jdbcType=BIGINT}, #{uid,jdbcType=BIGINT}, #{sessionId,jdbcType=BIGINT}, 
      #{signInIp,jdbcType=VARCHAR}, #{signInStatus,jdbcType=TINYINT}, #{signInFailCode,jdbcType=BIGINT}, 
      #{signInFailReason,jdbcType=VARCHAR}, #{signInAppType,jdbcType=TINYINT}, #{signInTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.efun.game.user.entity.UserSignInLog">
    insert into t_user_sign_in_log
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="sessionId != null">
        session_id,
      </if>
      <if test="signInIp != null">
        sign_in_ip,
      </if>
      <if test="signInStatus != null">
        sign_in_status,
      </if>
      <if test="signInFailCode != null">
        sign_in_fail_code,
      </if>
      <if test="signInFailReason != null">
        sign_in_fail_reason,
      </if>
      <if test="signInAppType != null">
        sign_in_app_type,
      </if>
      <if test="signInTime != null">
        sign_in_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=BIGINT},
      </if>
      <if test="sessionId != null">
        #{sessionId,jdbcType=BIGINT},
      </if>
      <if test="signInIp != null">
        #{signInIp,jdbcType=VARCHAR},
      </if>
      <if test="signInStatus != null">
        #{signInStatus,jdbcType=TINYINT},
      </if>
      <if test="signInFailCode != null">
        #{signInFailCode,jdbcType=BIGINT},
      </if>
      <if test="signInFailReason != null">
        #{signInFailReason,jdbcType=VARCHAR},
      </if>
      <if test="signInAppType != null">
        #{signInAppType,jdbcType=TINYINT},
      </if>
      <if test="signInTime != null">
        #{signInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.efun.game.user.entity.UserSignInLog">
    update t_user_sign_in_log
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=BIGINT},
      </if>
      <if test="sessionId != null">
        session_id = #{sessionId,jdbcType=BIGINT},
      </if>
      <if test="signInIp != null">
        sign_in_ip = #{signInIp,jdbcType=VARCHAR},
      </if>
      <if test="signInStatus != null">
        sign_in_status = #{signInStatus,jdbcType=TINYINT},
      </if>
      <if test="signInFailCode != null">
        sign_in_fail_code = #{signInFailCode,jdbcType=BIGINT},
      </if>
      <if test="signInFailReason != null">
        sign_in_fail_reason = #{signInFailReason,jdbcType=VARCHAR},
      </if>
      <if test="signInAppType != null">
        sign_in_app_type = #{signInAppType,jdbcType=TINYINT},
      </if>
      <if test="signInTime != null">
        sign_in_time = #{signInTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efun.game.user.entity.UserSignInLog">
    update t_user_sign_in_log
    set uid = #{uid,jdbcType=BIGINT},
      session_id = #{sessionId,jdbcType=BIGINT},
      sign_in_ip = #{signInIp,jdbcType=VARCHAR},
      sign_in_status = #{signInStatus,jdbcType=TINYINT},
      sign_in_fail_code = #{signInFailCode,jdbcType=BIGINT},
      sign_in_fail_reason = #{signInFailReason,jdbcType=VARCHAR},
      sign_in_app_type = #{signInAppType,jdbcType=TINYINT},
      sign_in_time = #{signInTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>