<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.efun.game.task.dao.mysql.ChildTaskDAO">
  <resultMap id="BaseResultMap" type="com.efun.game.task.entity.po.mysql.ChildTaskPO">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="task_id" jdbcType="BIGINT" property="taskId" />
    <result column="task_key" jdbcType="VARCHAR" property="taskKey" />
    <result column="handler" jdbcType="VARCHAR" property="handler" />
    <result column="child_handler" jdbcType="VARCHAR" property="childHandler" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="last_time" jdbcType="TIMESTAMP" property="lastTime" />
    <result column="first_time" jdbcType="TIMESTAMP" property="firstTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, task_id, task_key, handler, child_handler, status, last_time, first_time, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_child_task
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_child_task
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.efun.game.task.entity.po.mysql.ChildTaskPO">
    insert into t_child_task (id, task_id, task_key, 
      handler, child_handler, status, 
      last_time, first_time, create_time, 
      update_time)
    values (#{id,jdbcType=BIGINT}, #{taskId,jdbcType=BIGINT}, #{taskKey,jdbcType=VARCHAR}, 
      #{handler,jdbcType=VARCHAR}, #{childHandler,jdbcType=VARCHAR}, #{status,jdbcType=VARCHAR}, 
      #{lastTime,jdbcType=TIMESTAMP}, #{firstTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.efun.game.task.entity.po.mysql.ChildTaskPO">
    insert into t_child_task
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="taskId != null">
        task_id,
      </if>
      <if test="taskKey != null">
        task_key,
      </if>
      <if test="handler != null">
        handler,
      </if>
      <if test="childHandler != null">
        child_handler,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="lastTime != null">
        last_time,
      </if>
      <if test="firstTime != null">
        first_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="taskId != null">
        #{taskId,jdbcType=BIGINT},
      </if>
      <if test="taskKey != null">
        #{taskKey,jdbcType=VARCHAR},
      </if>
      <if test="handler != null">
        #{handler,jdbcType=VARCHAR},
      </if>
      <if test="childHandler != null">
        #{childHandler,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="firstTime != null">
        #{firstTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.efun.game.task.entity.po.mysql.ChildTaskPO">
    update t_child_task
    <set>
      <if test="taskId != null">
        task_id = #{taskId,jdbcType=BIGINT},
      </if>
      <if test="taskKey != null">
        task_key = #{taskKey,jdbcType=VARCHAR},
      </if>
      <if test="handler != null">
        handler = #{handler,jdbcType=VARCHAR},
      </if>
      <if test="childHandler != null">
        child_handler = #{childHandler,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="lastTime != null">
        last_time = #{lastTime,jdbcType=TIMESTAMP},
      </if>
      <if test="firstTime != null">
        first_time = #{firstTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efun.game.task.entity.po.mysql.ChildTaskPO">
    update t_child_task
    set task_id = #{taskId,jdbcType=BIGINT},
      task_key = #{taskKey,jdbcType=VARCHAR},
      handler = #{handler,jdbcType=VARCHAR},
      child_handler = #{childHandler,jdbcType=VARCHAR},
      status = #{status,jdbcType=VARCHAR},
      last_time = #{lastTime,jdbcType=TIMESTAMP},
      first_time = #{firstTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>